@media screen and (max-width:576px) {
    .d-flex {
        display: flex;
        flex-direction: column;
        margin-left: 4px;
    }

    h4 {
        font-size: 14px;
    }

    ul li {
        margin: -5px;
    }
}

@media screen and (max-width:1250px) and (min-width:576px) {
    .banner-photo {
        width: 100%;
    }

    .carousel-caption {
        font-size: 15px;
    }

    .extra-contain {
        flex-direction: column-reverse;
    }

    .extra-btn {
        margin-bottom: 20px;
        flex-direction: column-reverse;
    }

    .text-section {
        width: 100%;
    }

    .question-extra {
        flex-direction: column-reverse;
    }

    .img-2 {
        margin-bottom: 20px;
    }
}




.left-slide {
    border-left: 5px solid #0dcaf0;
}

.box:hover {
    background-color: #3f87f5;
    color: white;
    border-radius: 15px;
    transition: 1.3s;
}

.clients-text {
    color: #6c6c6c;
    font-weight: 500;
}

.accordion {
    width: 50%;
}

.image {
    width: 50%;
}

.footer-address {
    align-items: center;
}